doctype html
html
	head
		include ./head.jade
	body
		include ./navbar.jade
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/competitions/competitionList?gameId=#{gameId}")
								p.navbar-font 赛事进程
						div.line
						li.active
							a.row(href="/competitions/nextLevel?gameId=#{gameId}&level=#{level}")
								p.navbar-font 加下一阶段
						div.line
						li
							a.row(href="/games/gameDetail?gameId=#{gameId}")
								p.navbar-font 返回
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 比赛进程
						div.panel-body
							form.form-horizontal(role='form',method="POST",action="/competitions/competitionAdd")
								div.form-group
									label.col-xs-3.control-label(for='teamAName') 球队A
									div.col-xs-6
										input.form-control#teamAName(type='text',name="teamAName")
								div.form-group
									label.col-xs-3.control-label(for='teamBName') 球队B
									div.col-xs-6
										input.form-control#teamBName(type='text',name="teamBName")
								input.form-control.hidden#level(type='text',name="level",value="#{level}")
								div.form-group
									label.control-label.col-xs-3(for="type") 类型
									div.col-xs-6
										select#type.form-control(name="type")
											option 小组赛
											option 淘汰赛
											option 半决赛
											option 总决赛
								div.form-group
									label.col-xs-3.control-label(for="typeName") 类型名称
									div.col-xs-6
										input.form-control#typeName(type='text',name="typeName")
								input.form-control.hidden#gameId(type='text',value="#{gameId}",name="gameId")
								div.form-group
									div.text-center
										button.btn.btn-primary(type="submit") 确定
								