doctype html
html
	head
		include ./head.jade
		script(type='text/javascript').
			function gameInfo(){
				location.href='/gameInfo';
			}
			function updateGame(id){
				$("#myModal").modal();
			}
	body
		div.modal.fade#myModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
						h4.modal-title#myModalLabel 修改
					div.modal-body
						form.form-horizontal(role='form',method="POST",action="",enctype="multipart/form-data")
							div.form-group
								label.col-xs-3.control-label(for='game-name') 名称
								div.col-xs-5
									input.form-control#game-name(type='text')
							div.form-group
								label.col-xs-3.control-label(for="award-limit") 奖金上限
								div.col-xs-5
									input.form-control#award-limit(type='text')
							div.form-group
								label.col-xs-3.control-label(for="award-minimum") 奖金下限
								div.col-xs-5
									input.form-control#award-minimum(type='text')
					div.modal-footer
						button.btn.btn-defautl(type="button",data-dismiss="modal") 关闭
						button.btn.btn-default(type="button") 完成
		include ./navbar.jade
		script(type="text/javascript").
			$("#allTeam").removeClass("active");
			$("#allGame").addClass("active");
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li.active
							a.row(href="/games/gameList")
								p.navbar-font 赛事列表
						div.line
						li
							a.row(href="/games/gameAdd")
								p.navbar-font 添加赛事
				div.col-xs-10.text-center
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 赛事列表
						div.panel-body
							table.table.table-hover.table-responsive.table-bordered
								thead
									tr
										th.text-center 序号
										th.text-center 名称
										th.text-center 是否结束
										th.text-center 学院
										th.text-center 奖金上限
										th.text-center 奖金下限
										th.text-center 操作
								tbody
									-each val,key in gameList
										tr
											td.text-center #{key+1}
											td.text-center #{val.get("name")}
											-if(val.get("isFinish"))
												td.text-center 是
											-else
												td.text-center 否
											td.text-center #{val.get("college")}
											td.text-center #{val.get("awardLimit")}
											td.text-center #{val.get("awardMinimum")}
											td.text-center
												div.dropdown
													button.btn.btn-info.dropdown-toggle#operation(data-toggle='dropdown') 操作
														span.caret
													ul.dropdown-menu(role="menu",aria-labelledby="operation")
														li.alert-info(role="presentation")
															a(role="menuitem",tabindex="-1",href="/games/gameDetail?gameId=#{val.id}") 管理赛事
														div.line
														li.alert-success(role="presentation")
															a(role="menuitem",tabindex="-1",href="#",onclick="updateGame('#{val.id}')") 修改
														div.line
														li.alert-danger(role="presentation")
															a(role="menuitem",tabindex="-1",href="#") 删除