doctype html
html
	head
		include ./head.jade
		script(type="text/javascript").
			function chooseAll(){
				var checkAll = $("input:first").attr("checked");
				if(checkAll){
					for(var i=0;i<$("input").length;i++){
						$("input:eq("+i+")").prop("checked",false);
						$("input:eq("+i+")").attr("checked",false);
					}
				}else{
					for(var i=0;i<$("input").length;i++){
						$("input:eq("+i+")").attr("checked",true);
						$("input:eq("+i+")").prop("checked",true);
					}
				}
			}
			function pitchUp(t){
				if($(t).attr("checked")){
					$(t).prop("checked",false);
					$(t).attr("checked",false);
				}else{
					$(t).prop("checked",true);
					$(t).attr("checked",true);
				}
			}
			function send(){
				var teams = new Array();
				var n=0;
				for(var i=1;i<$("input").length;i++){
					if($("input").eq(i).attr("checked")){
						teams[n++] = $("input").eq(i).attr("data-value");
					}
				}
				$.ajax({
					type:"POST",
					url:"/teams/pick",
					data:{gameId:"#{gameId}",teams:JSON.stringify(teams)},
					success:function(data){
						location.href="/teams?pos=game&gameId="+"#{gameId}"
					}
				})
			}
			function searchTeam(){
				var team = $("#content").val();
				if(team==""){
					location.href="/teams/select?gameId=#{gameId}";
					return false;
				}else{
					var url = "/teams/rest?name="+team+"&gameId=#{gameId}";
					$.ajax({
						type:"GET",
						url:url,
						dataType:"json",
						success:function(data){
							$("tbody").empty();
							if(data.teams.length!=0){
								for(var i = 0 ; i<data.teams.length;i++){
									var HTML = "<tr>"+
													"<td class='text-center'>"+
														"<p>"+
															"<input type='checkbox' onclick='pitchUp(this)' data-value="+data.teams[i].objectId+">"+
														"</p>"+
													"</td>"+
													"<td class='text-center'>"+
														"<p>"+data.teams[i].name+"</p>"+
													"</td>"+
													"<td class='text-center'>"+
														"<img class='team-img' src="+data.teams[i].logoUrl+">"+
													"</td>"+
													"<td class='text-center col-xs-3'>"+
														"<p>"+(data.teams[i].info?data.teams[i].info:"")+"</p>"+
													"</td>"+
												"</tr>";
									$("tbody").append(HTML);
								}
								
							}
						}
					})
				return false;
				}
			}
	body
		include ./navbar.jade
		script(type="text/javascript").
			var HTML = "<form class='navbar-form navbar-right'>"+
							"<div class='form-group'>"+
								"<input class='form-control' id='content' type='text' placeholder='请输入球队名称'>"+
							"</div>"+
							"<button class='btn btn-success' type='submit' onclick='return searchTeam()'>搜索</button>"+
						"</form>";
			$("#navbar-head").append(HTML)
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/teams?pos=game&gameId=#{gameId}")
								p.navbar-font 球队列表
						div.line
						li
							a.row(href="/teams/newTeamAdd?gameId=#{gameId}")
								p.navbar-font 添加新球队
						div.line
						li.active
							a.row(href="/teams/select?gameId=#{gameId}")
								p.navbar-font 添加已有球队
						div.line
						li
							a.row(href="/games/gameDetail?gameId=#{gameId}")
								p.navbar-font 返回
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 添加已有球队
						div.panel-body
							table.table.table-hover.table-bordered.horizontal-center
								thead
									tr
										th.text-center
											input(type="checkbox",onchange="chooseAll()")
										th.text-center 队名
										th.text-center 队标
										th.text-center 简介
								tbody
									-each val,key in teamList
										tr
											td.text-center
												p
													input(type="checkbox",onclick="pitchUp(this)",data-value='#{val.id}')
											td.text-center
												p #{val.get("name")}
											td.text-center
												img.team-img(src=val.get("logoUrl"))
											td.text-center.col-xs-3
												p #{val.get('info')}
					div.text-center
						button.btn.btn-primary(onclick="send()") 确定