doctype html
html
	head
		include ./head.jade
		link(rel="stylesheet",type="text/css",href='/stylesheets/simditor.css')
		script(type="text/javascript").
			window.onload = function(){
				var content = $(".simditor-body").html("#{content}").text();
				$(".simditor-body").text("");
				$(".simditor-body").append(content);

			}
			function send(){
				var time = new Date();
				var month = time.getMonth()+1;
				var day = time.getDate();
				var date = (month<10 ? "0"+month : month+"") + "-" + (day<10 ? "0"+day : day+"");
				var coverUrl = $("img:first").attr("src");
				if(coverUrl){
					coverUrl = null;
				}
				$("img").removeAttr("width");
				$("img").removeAttr("height");
				$("img").removeAttr("data-image-size");
				var url = "/informations/editReport?pos=competition";
				$.ajax({
						type:"POST",
						url:url,
						dataType:"json",
						data:{competitionId:"#{competitionId}",content:$(".simditor-body").html(),title:$("#title").val(),author:$("#author").val(),coverUrl:coverUrl},
						success:function(data){
							if(data.msg=="ok"){
								alert("修改成功");
							}else{
								alert("修改失败");
							}
						}
					});
			};
	body
		include ./navbar.jade
		div.container
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/informations/reportList?gameId=#{gameId}")
								p.navbar-font 报道列表
						div.line
						li
							a.row(href="/informations/report?pos=game&gameId=#{gameId}")
								p.navbar-font 添加报道
						div.line
						li
							a.row(href="/games/gameDetail?gameId=#{gameId}")
								p.navbar-font 返回
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title.text-center
								p 修改战报
						div.panel-body
							div.row.form-group.text-center
								label.control-label.col-xs-1(for="title") 标题
								div.col-xs-10
									input#title.form-control(type="text",value="#{title}")
							div.row.form-group.text-center
								label.control-label.col-xs-1(for="author") 作者
								div.col-xs-10
									input#author.form-control(type="text",value="#{author}")
							div.row.form-group
								div.col-xs-1
								div.col-xs-10
									textarea.form-control#content
									script(type="text/javascript",src='/javascripts/module.js')
									script(type="text/javascript",src='/javascripts/hotkeys.js')
									script(type="text/javascript",src="/javascripts/uploader.js")
									script(type="text/javascript",src='/javascripts/simditor.js')
									script(type="text/javascript").
										var editor = new Simditor({
												textarea:$("#content"),
												toolbar: ['title','bold','italic','underline','strikethrough','color','ol','ul','link','image','hr','indent','outdent','alignment'],
												upload : {
													url : '/informations/imgUpload',
													params: null,
													fileKey: 'reportImg',
													connectionCount: 3,
													leaveConfirm: '正在上传文件'
												}
											});
							div.row.form-group
								div.text-center
									button.btn.btn-primary(onclick="send()") 确定