doctype html
html
	head
		include ./head.jade
		link(rel="stylesheet",type="text/css",href='/stylesheets/simditor.css')
		script(type="text/javascript").
			function send(){
				var time = new Date();
				var month = time.getMonth()+1;
				var day = time.getDate();
				var date = (month<10 ? "0"+month : month+"") + "-" + (day<10 ? "0"+day : day+"");
				var coverUrl = $("img:first").attr("src");
				$("img").removeAttr("width");
				$("img").removeAttr("height");
				$("img").removeAttr("data-image-size");
				var HTML = "<!DOCTYPE html>"+
							"<html lang='zh-cn'>"+
								"<head>"+
									"<meta charset='UTF-8'/>"+
									"<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>"+
									"<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>"+
									"<meta name='renderer' content='webkit'/>"+
									"<meta name='author' content='WlliTeam'/>"+
									"<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'/>"+
									"<title>Hola体育</title>"+
									"<link href='http://7ls0rp.com1.z0.glb.clouddn.com/style.css' rel='stylesheet'/>"+
								"</head>"+
								"<body>"+
									"<div class='report'>"+
										"<h1 class='title'>"+$("#title").val()+"</h1>"+
										"<div class='info'><span class='time'></span><span class='span'>"+date+"</span><span class='author'></span><span class='span'>"+$("#author").val()+"</span>"+
											"<hr/>"+
										"</div>"+
										"<div class='content'>"+
											$(".simditor-body").html()+
										"</div>"+
									"</div>"+
								"</body>"+
							"</html>";
									
				var url = "/editReport?pos=game";
				$.ajax({
						type:"POST",
						url:url,
						dataType:"json",
						data:{gameId:"#{gameId}",content:HTML,title:$("#title").val(),author:$("#author").val(),coverUrl:coverUrl},
						success:function(data){
							if(data.msg=="ok"){
								alert("插入成功");
							}else{
								alert("插入失败");
							}
						}
					});
			};
	body
		include ./navbar.jade
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/games/gameDetail?gameId=#{gameId}")
								p.navbar-font 赛事信息
						div.line
						li
							a.row(href="/teams?pos=game&gameId=#{gameId}")
								p.navbar-font 赛事球队
						div.line
						li
							a.row(href="/competitions/competitionList?gameId=#{gameId}")
								p.navbar-font 赛事进程
						div.line
						li.active
							a.row(href="/informations/report?pos=game&gameId=#{gameId}")
								p.navbar-font 赛事报道
						div.line
						li
							a.row(href="/games/gameList")
								p.navbar-font 返回
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title.text-center
								p 添加战报
						div.panel-body
							div.row.form-group.text-center
								label.control-label.col-xs-1(for="title") 标题
								div.col-xs-10
									input#title.form-control(type="text")
							div.row.form-group.text-center
								label.control-label.col-xs-1(for="author") 作者
								div.col-xs-10
									input#author.form-control(type="text")
							div.row.form-group
								div.col-xs-1
								div.col-xs-10
									textarea.form-control#content
									script(type="text/javascript",src='/javascripts/module.js')
									script(type="text/javascript",src='/javascripts/hotkeys.js')
									script(type="text/javascript",src="/javascripts/uploader.js")
									script(type="text/javascript",src='/javascripts/simditor.js')
									script(type="text/javascript").
										var editor = new Simditor({
												textarea:$("#content"),
												toolbar: ['title','bold','italic','underline','strikethrough','ol','ul','link','image','hr','indent','outdent','alignment']
											});
							div.row.form-group
								div.text-center
									button.btn.btn-primary(onclick="send()") 确定