doctype html
html
	head
		include ./head.jade
		script(type="text/javascript").
			var statisticsRow = 3;
			var statisticsCol = 1;
			var playerACol = 1;
			var playerARow = 1;
			var playerBCol = 1;
			var playerBRow = 1;
			var team;
			function pitchon(t){
				if($(t).attr("checked")){
					$(t).prop("checked",false);
					$(t).attr("checked",false);
				}else{
					$(t).prop("checked",true);
					$(t).attr("checked",true);
				}
				
			}
			function modal(type){
				if(type=="addStatistics"){
					for(var i=0;i<$("#addStatistics input").length;i++){
						$("#addStatistics input:eq("+i+")").prop("checked",false);
						$("#addStatistics input:eq("+i+")").attr("checked",false);
					}
					$("#addStatistics").modal("show");
				}else{
					for(var i=0;i<$("#addPlay input").length;i++){
						$("#addPlay input:eq("+i+")").prop("checked",false);
						$("#addPlay input:eq("+i+")").attr("checked",false);
					}
					if(type=="addPlayA"){
						team = "A";
					}else{
						team = "B";
					}
					$("#addPlay").modal("show");
				}
			}
			function addStatistics(){
				var data = new Array();
				var number = 0;
				for(var i=0;i<$("#addStatistics input").length;i++){
					if($("#addStatistics input:eq("+i+")").attr("checked")){
						data[number++] = $("#addStatistics input:eq("+i+")").val();
					}
				}
				for(var j =  1; j <= data.length; j++){
					for(var i=1;i<=statisticsRow;i++){
						if(i==1){
							$(document.getElementById("statistics"+i+""+statisticsCol)).after("<th class='text-center' id=statistics"+i+(statisticsCol+1)+">"+data[j-1]+"</th>");
						}else{
							$(document.getElementById("statistics"+i+""+statisticsCol)).after("<td id=statistics"+i+(statisticsCol+1)+"><input class='text-center form-control' type='text'/></td>");
						}	
					}
					statisticsCol++;
				}
				$("#addStatistics").modal("hide");
				return true;
			};
			function addPlayerCol(){
				var data = new Array();
				var number = 0;
				for(var i=0;i<$("#addPlay input").length;i++){
					if($("#addPlay input:eq("+i+")").attr("checked")){
						data[number++] = $("#addPlay input:eq("+i+")").val();
					}
				}
				var playerRow = playerBRow;
				var playerCol = playerBCol;
				if(team=="A"){
					playerRow = playerARow;
					playerCol = playerACol;
				}
				for(var j=1;j<=data.length;j++){
					for(var i = 1 ; i <= playerRow ; i++){
						if(i==1){
							$(document.getElementById("player"+team+i+""+playerCol)).after("<th class='text-center' id=player"+team+i+(playerCol+1)+">"+data[j-1]+"</th>");
						}else{
							$(document.getElementById("player"+team+i+""+playerCol)).after("<td id=player"+team+i+(playerCol+1)+"><input class='text-center form-control' type='text'/></td>");
						}
						
					}
					playerCol++;
					if(team=="A"){
						playerACol++;
					}else{
						playerBCol++;
					}
				}
				$("#addPlay").modal("hide");
			};
			function addPlayerRow(team){
				var playerCol = playerBCol;
				var playerRow = playerBRow;
				if(team=="A"){
					playerCol = playerACol;
					playerRow = playerARow;
				}
				var HTML = "<tr>";
				for(var i = 1 ; i <= playerCol ; i++){
					HTML = HTML + "<td id=player"+team+(playerRow+1)+""+i+"><input class='text-center form-control' class='form-control' type='text'/></td>";
				}
				HTML += "</tr>";
				$(document.getElementById(team)).append(HTML);
				if(team=="A"){
					playerARow++;
				}else{
					playerBRow++;
				}
			};
			function send(){
				var json = {};
				var statisticsArr = new Array();
				for(var i = 1 ; i <= statisticsRow; i++){
					statisticsArr[i-1] = new Array();
					for(var j = 1 ; j <= statisticsCol; j++){
						if(i==1||j==1){
							statisticsArr[i-1][j-1] = $(document.getElementById("statistics"+i+""+j)).text() == "" ? "-" : $(document.getElementById("statistics"+i+""+j)).text();
						}else{
							statisticsArr[i-1][j-1] = $(document.getElementById("statistics"+i+""+j)).children().val() == "" ? "-" : $(document.getElementById("statistics"+i+""+j)).children().val();
						}
					}
				}
				json.statistics = statisticsArr;
				var playerAArr = new Array();
				for(var i = 1 ; i <= playerARow; i++){
					playerAArr[i-1] = new Array();
					for(var j = 1 ; j <= playerACol ; j++){
						if(i==1){
							playerAArr[i-1][j-1] = $(document.getElementById("playerA"+i+""+j)).text() == "" ? "-" : $(document.getElementById("playerA"+i+""+j)).text();
						}else{
							playerAArr[i-1][j-1] = $(document.getElementById("playerA"+i+""+j)).children().val() == "" ? "-" : $(document.getElementById("playerA"+i+""+j)).children().val();
						}
						
					}
				}
				json.playerA = playerAArr;
				var playerBArr = new Array();
				for(var i = 1 ; i <= playerBRow; i++){
					playerBArr[i-1] = new Array();
					for(var j = 1 ; j <= playerBCol ; j++){
						if(i==1){
							playerBArr[i-1][j-1] = $(document.getElementById("playerB"+i+""+j)).text() == "" ? "-" : $(document.getElementById("playerB"+i+""+j)).text();
						}else{
							playerBArr[i-1][j-1] = $(document.getElementById("playerB"+i+""+j)).children().val() == "" ? "-" : $(document.getElementById("playerB"+i+""+j)).children().val();
						}
						
					}
				}
				json.playerB = playerBArr;
				var url = "/informations/editStatistics";
				$.ajax({
						type:"POST",
						url:url,
						dataType:"json",
						data:{competitionId:"#{competitionId}",statistics:JSON.stringify(json)},
						success:function(data){
							if(data.msg=="ok"){
								alert("插入成功");
							}else{
								alert("插入失败");
							}
						}
					});
			}
	body.text-center
		div.modal.fade#addStatistics(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
						h4.modal-title#addStatistics 得分统计
					div.modal-body
						div.checkbox-inline
							label
								input(type="checkbox",value="上半场",onchange="pitchon(this)")
								上半场
						div.checkbox-inline
							label
								input(type="checkbox",value="下半场",onchange="pitchon(this)")
								下半场
						div.checkbox-inline
							label
								input(type="checkbox",value="第一节",onchange="pitchon(this)")
								第一节
						div.checkbox-inline
							label
								input(type="checkbox",value="第二节",onchange="pitchon(this)")
								第二节
						div.checkbox-inline
							label
								input(type="checkbox",value="第三节",onchange="pitchon(this)")
								第三节
						div.checkbox-inline
							label
								input(type="checkbox",value="第四节",onchange="pitchon(this)")
								第四节
						div.checkbox-inline
							label
								input(type="checkbox",value="总比分",onchange="pitchon(this)")
								总比分
					div.modal-footer
						button.btn.btn-defautl(type="button",data-dismiss="modal") 关闭
						button.btn.btn-default(type="button",onclick="addStatistics()") 确定
		div.modal.fade#addPlay(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
						h4.modal-title#addPaly 球员数据
					div.modal-body
						div.checkbox-inline
							label
								input(type="checkbox",value="号数",onchange="pitchon(this)")
								号数
						div.checkbox-inline
							label
								input(type="checkbox",value="得分",onchange="pitchon(this)")
								得分
						div.checkbox-inline
							label
								input(type="checkbox",value="篮板",onchange="pitchon(this)")
								篮板
						div.checkbox-inline
							label
								input(type="checkbox",value="助攻",onchange="pitchon(this)")
								助攻
						div.checkbox-inline
							label
								input(type="checkbox",value="抢断",onchange="pitchon(this)")
								抢断
						div.checkbox-inline
							label
								input(type="checkbox",value="罚球",onchange="pitchon(this)")
								罚球
						div.checkbox-inline
							label
								input(type="checkbox",value="命中率",onchange="pitchon(this)")
								命中率
						div.checkbox-inline
							label
								input(type="checkbox",value="失误",onchange="pitchon(this)")
								失误
					div.modal-footer
						button.btn.btn-defautl(type="button",data-dismiss="modal") 关闭
						button.btn.btn-default(type="button",onclick="addPlayerCol()") 确定
		include ./navbar.jade
		div.container
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked
						li
							a.row(href="/competitions/competitionDetail?competitionId=#{competitionId}")
								p.navbar-font 比赛信息
						div.line
						li
							a.row(href="/informations/report?pos=competition&competitionId=#{competitionId}&teamAName=#{teamAName}&teamBName=#{teamBName}&gameId=#{'gameId'}")
								p.navbar-font 添加战报
						div.line
						li.active
							a.row(href="/informations/statistics?competitionId=#{competitionId}&teamAName=#{teamAName}&teamBName=#{teamBName}&gameId=#{'gameId'}")
								p.navbar-font 添加统计
						div.line
						li
							a.row(href="/competitions/competitionList?gameId=#{gameId}")
								p.navbar-font 返回
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 添加统计
						div.panel-body
							div.panel.panel-success
								div.panel-heading
									div.panel-title
										p 得分统计
								div.panel-body
									table.table.table-hover
										thead
											tr
												th.text-center#statistics11 队伍
										tbody
											tr
												td.text-center#statistics21 #{teamAName}
											tr
												td.text-center#statistics31 #{teamBName}
									div
										button.btn.btn-info(onclick="modal('addStatistics')") 添加数据项
							hr
							div.panel.panel-success
								div.panel-heading
									div.panel-title
										p #{teamAName} 球员数据
								div.panel-body
									table.table
										thead
											tr
												th.text-center#playerA11 球员
										tbody#A
									div
										button.btn.btn-info(onclick="modal('addPlayA')") 添加数据项
										button.col-xs-offset-8.btn.btn-info(onclick="addPlayerRow('A')") 添加球员
							hr
							div.panel.panel-success
								div.panel-heading
									div.panel-title
										p #{teamBName} 球员数据
								div.panel-body
									table.table
										thead
											tr
												th.text-center#playerB11 球员
										tbody#B
									div
										button.btn.btn-info(onclick="modal('addPlayB')") 添加数据项
										button.col-xs-offset-8.btn.btn-info(onclick="addPlayerRow('B')") 添加球员
							hr
							div
								button.btn.btn-primary(onclick="send()") 确定